@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Mono&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

body {
    font-family: 'Krona One', sans-serif;
    background: #F8F0E3;
}

a {
    text-decoration: none;
}

header {
    background-color: #CC7B00;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px;
    max-width: 1280px;
    margin: auto;
    width: 100%;
    align-items: center;
    background-color: #CC7B00;
}

.header img {
    width: 150px;
}

.menu {
    align-content: center;
    text-align: center;
}

.menu ul {
    list-style: none;
    display: flex;
    margin-block-end: 0px;
    gap: 16px;
}

.menu li {
    width: 150px;
    line-height: 50px;
    background-color: #F8F0E3;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.menu li a {
    display: block;
    color: #000000;
    text-transform: uppercase;
    background: #F8F0E3;
}

#menuButton {
    display: none;
    width: 100px;
    height: 60px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    background: #F8F0E3;
    border: none;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 25px;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
}

.mainContent {
    width: 60%;
}

.mainImage {
    width: 35%;
    height: 510px;
    background-image: url(./images/profile.png);
    background-size: contain norepeat;
    background-position: center 30%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.mainImageMobile {
    display: none;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}

h1::after {
    font-family:'Times New Roman', Times, serif;
    color: #CC7B00;
    font-size: 24px;
    content: '\00a0 \00a0 \00a0 \00a0 \00a0 \25cf \00a0 \25cf \00a0 \25cf';
}

.main p {
    margin-top: 25px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: #000000;
    background-color: #F8F0E3;
    text-align: center;
    font-size: 14px;
}

.footer {
    position: relative;
    margin: 12px;
}

.footer a {
    text-decoration: none;
    color: #000000;
}

.errorWindow {
    display: none;
}

/* Responsiveness */
/* Window < 400px - Error */
@media (max-width: 400px) {
    .header {
        display: none;
    }
    
    .mainContent {
        display: none;
    }

    .mainImage {
        display: none;
    }

    .mainImageMobile {
        display: none;
    }

    .footer {
        display: none;
    }

    .errorWindow {
        display: flex;
        text-align: center;
        margin-top: 30px;
    }
}

/* Window < 939px - Change Menu Style */
@media (max-width: 939px) {
    #menuButton {
        display: block;
    }

    #menuPages {
        display: none;
    }
}

/* Window < 799px - Adaptive Section */
@media (max-width: 799px) {
    .mainImage {
        display: none;
    }

    .mainContent {
        width: 90%;
    }

    .mainImageMobile {
        display: none;
    }
}


#menuPages.active  {
    display: block;
    position: absolute;
    top: 120px;
    right: 3%;
}
