@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Mono&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

body {
    font-family: 'Krona One', sans-serif;
    background: #F8F0E3;
}

a {
    text-decoration: none;
}

header {
    background-color: #8C3A46;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px;
    max-width: 1280px;
    margin: auto;
    width: 100%;
    align-items: center;
    background-color: #8C3A46;
}

.header img {
    width: 150px;
}

.menu {
    align-content: center;
    text-align: center;
}

.menu ul {
    list-style: none;
    display: flex;
    margin-block-end: 0px;
    gap: 16px;
}

.menu li {
    width: 150px;
    line-height: 50px;
    background-color: #F8F0E3;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.menu li a {
    display: block;
    color: #000000;
    text-transform: uppercase;
    background: #F8F0E3;
}


#pageOpened a {
    color: #8C3A46;
}


#menuButton {
    display: none;
    width: 100px;
    height: 60px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    background: #F8F0E3;
    border: none;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 25px;
    margin: auto;
    margin-bottom: 40px;
    gap: 30px;
    box-sizing: border-box;
}

.mainImageMobile {
    display: none;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}

h1::after {
    font-family:'Times New Roman', Times, serif;
    color: #8C3A46;
    font-size: 24px;
    content: '\00a0 \00a0 \00a0 \00a0 \00a0 \25cf \00a0 \25cf \00a0 \25cf';
}

.main p {
    margin-top: 25px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: #000000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(248, 240, 227, 1), rgba(248, 240, 227, 1));
    text-align: center;
    font-size: 14px;
}

.footer {
    position: relative;
    margin: 12px;
}

.footer a {
    text-decoration: none;
    color: #000000;
}

.errorWindow {
    display: none;
}

#menuPages.active  {
    display: block;
    position: absolute;
    top: 120px;
    right: 3%;
}

/* Gallery and Carousel CSS */
.gallery {
    margin-top: 50px;
    width: 100%;
}

.gallery img {
    max-width: 100%;
    background-color: #8C3A46;
    padding: 5px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal-header {
    border: 0;
}

.modal-content {
    max-height: 95vh;
    background-color: #F8F0E3;
    border-radius: 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.carousel-item {
    max-height: 75vh;
}

.carousel-item img {
    width: 100%;
    object-fit: scale-down;
}

.carousel-caption {
    padding: 0;
    background-color:  rgba(140, 58, 70, 0.7);
}

.carousel-caption p {
    color: #F8F0E3;
    margin: 3px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238C3A46'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238C3A46'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

/* Responsiveness */
/* Window < 350px - Error */
@media (max-width: 300px) {
    .header {
        display: none;
    }
    
    .mainContent {
        display: none;
    }

    .mainImage {
        display: none;
    }

    .mainImageMobile {
        display: none;
    }

    .footer {
        display: none;
    }

    .errorWindow {
        display: flex;
        text-align: center;
        margin-top: 30px;
    }
}

/* Window < 939px - Change Menu Style */
@media (max-width: 939px) {
    #menuButton {
        display: block;
        margin-left: 20%;
    }

    #menuPages {
        display: none;
    }
}

/* Window < 799px - Adaptive Section */
@media (max-width: 799px) {
    .mainImage {
        display: none;
    }

    .mainContent {
        width: 100%;
    }

    .mainImageMobile {
        display: none;
    }
}

/* Window < 400 - Change Menu Style */
@media (max-width: 400px) {
    #menuButton {
        display: block;
        margin-left: 20%;
    }

    .header img {
        width: 100px;
    }
}